# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Scala

Some of the commonly used libraries used by Data Scientists include:
1. Matplotlib
2. NumPy
3. Pandas
4. ggplot

|Data Science Tools|
|------------------|
|Python|
|Apache Hadoop|
|Rstudio|

### Below are a few examples of evaluating arithmetic expressions in Python
1. '+' → addition
2. '-' → subtraction
3. '*' → multiplication
4. '/' → division

In [2]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [3]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Amine